absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
alembic==1.12.0
alibabacloud-credentials==0.3.2
alibabacloud-darabonba-env==0.0.1
alibabacloud-darabonba-number==0.0.4
alibabacloud-darabonba-string==0.0.4
alibabacloud-endpoint-util==0.0.3
alibabacloud-facebody20191230==5.1.0
alibabacloud-gateway-spi==0.0.1
alibabacloud-openapi-util==0.2.2
alibabacloud-openplatform20191219==2.0.0
alibabacloud-oss-sdk==0.1.0
alibabacloud-oss-util==0.0.6
alibabacloud-tea==0.3.3
alibabacloud-tea-console==0.0.1
alibabacloud-tea-fileform==0.0.5
alibabacloud-tea-openapi==0.3.8
alibabacloud-tea-util==0.3.11
alibabacloud-tea-xml==0.0.2
anaconda-client==1.11.0
anaconda-navigator==2.4.0
appdirs==1.4.4
astunparse==1.6.3
async-timeout==4.0.2
atomicwrites==1.4.0
bkcharts==0.2
brotlipy==0.7.0
cachetools==5.3.0
captum==0.6.0
clyent==1.2.2
cmaes==0.10.0
colorlog==6.7.0
comtypes==1.1.10
conda==23.1.0
conda-build==3.22.0
conda-repo-cli==1.0.20
conda-verify==3.4.2
ConfigArgParse==1.7
constantly==15.1.0
cssselect==1.1.0
cytoolz==0.11.0
daal4py==2021.6.0
datashape==0.5.4
datatable==1.0.0
deeproc==1.0.17
dgl==1.1.1
et-xmlfile==1.1.0
flatbuffers==23.3.3
fonttools==4.25.0
frozenlist==1.3.3
gast==0.4.0
gcn==1.0
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.51.3
gunicorn==20.1.0
hyperopt==0.2.7
igraph==0.10.6
inflection==0.5.1
joblib==1.2.0
keopscore==2.1.2
keras==2.11.0
libclang==15.0.6.1
lightning-utilities==0.8.0
littleutils==0.2.2
llvmlite==0.38.0
Mako==1.2.4
mccabe==0.6.1
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
multidict==6.0.4
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.3.0
nibabel==5.0.1
nilearn==0.10.0
numpy==1.26.1
oauthlib==3.2.2
ogb==1.3.6
opencv-contrib-python==4.8.0.74
openpyxl==3.0.10
ops==2.9.0
opt-einsum==3.3.0
optuna==3.3.0
outdated==0.2.2
patsy==0.5.2
pep8==1.7.1
Pillow==9.2.0
protobuf==3.19.6
py4j==0.10.9.7
pyasn1-modules==0.2.8
pybind11==2.10.4
pycosat==0.6.3
pycurl==7.45.1
PyDispatcher==2.0.5
pygcn==0.1
pyhocon==0.3.60
pykeops==2.1.2
pyls-spyder==0.4.0
pytest==7.1.2
python-lsp-jsonrpc==1.0.0
pytorch-lightning==2.0.2
pywin32==302
PyYAML==6.0.1
queuelib==1.5.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.3.0
scikit-learn-intelex==2021.20221004.171935
scikit-multilearn==0.2.0
scipy==1.10.1
shapely==2.0.1
sip==4.19.13
spectral==0.23.1
statsmodels==0.13.2
tables==3.6.1
TBB==0.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
texttable==1.6.7
threadpoolctl==3.2.0
torch==2.0.1
torch-geometric==2.2.0
torch-spline-conv==1.2.1+pt113cpu
torchaudio==0.13.1
torchmetrics==0.11.4
torchvision==0.14.1
torchviz==0.0.2
webencodings==0.5.1
websocket-client==1.7.0
win-unicode-console==0.5
wincertstore==0.2
yarl==1.9.2
zict==2.1.0
